div.container-fluid()
    div.row()
        nav.navbar.navbar-expand-lg.navbar-light.bg-light()
            a.navbar-brand(href='/') Geddit
            ul.navbar-nav.mr-auto()
                li.nav-item.dropdown#subredditSelector()
                    a.nav-link.dropdown-toggle(href='#', id='navbarDropdown', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') All
                    div.dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='#') Home
            form.inline-form#searchReddit()
                input.form-control(type='search', placeholder='Search Geddit' aria-label='Search')
            ul.navbar-nav#leftIcons()
                li.nav-item()
                    a.nav-link(href='#')
                        i.material-icons() &#xe8e5;
                if user 
                    li.nav-item()
                        a.nav-link(href='/profiles/' + user.username)
                            i.material-icons() &#xe162;
                li.nav-item()
                    a.nav-link(href='#')
                        i.material-icons() &#xe3c4;
            ul.navbar-nav.mr-auto#rightIcons()
                li.nav-item()
                    a.nav-link(href='#')
                        i.material-icons() &#xe0b7;
                li.nav-item()
                    a.nav-link(href='#')
                        i.material-icons() &#xe0be;
                li.nav-item()
                    a.nav-link(href='#')
                        i.material-icons() &#xe150;
            span#Users()
                unless user
                    form.inline-form(action='/auth/sign-up')
                        button.btn.btn-primary() Sign up
                    form.inline-form(action='/auth/sign-in')
                        button.btn.btn-primary() Login
                else 
                    form.inline-form(method='GET', action='/posts/new')
                        button.btn.btn-primary() New post
                    form.inline-form(action='/auth/logout') 
                        button.btn.btn-primary() Logout

