extends layouts/layout

block content
    include includes/navbar 
    div.row
        div.col-sm-6.offset-sm-3
            a.lead(href=post.url)= post.title
            p()= post.summary
            a(href='/profiles/' + post.author.username) 
                p()= post.author.username
            form(action='/comments/' + post._id, method='POST')
                textarea.form-control(name='content', placeholder='Comment')
                div.text-right()
                    button(type='submit') Save
            div#commentContainer()
                each comment in post.comments
                    include includes/comment 
