extends layouts/layout

block content
    include includes/navbar.pug
    div.container-fluid()
        div.row()
            div.col-md-4.offset-md-4()
                form(action='/auth/sign-in', method='POST')
                    legend() Sign in
                    div.form-group()
                        label(for='usernameField') Username
                        input.form-control#usernameField(type='text', name='username', placeholder='Username')
                    div.form-group()
                        label(for='passwordField') Password
                        input.form-control#passwordField(name='password', type='password', placeholder='Password')
                    div.form-group#rememberField() 
                        input.form-control#rememberMe(type='checkbox', name='remember', value='true')
                        p() Remember me
                    div.text-right()
                        button.btn.btn-primary() Sign in


