body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav { 
    width: 100%;
}

#subredditSelector {
    width: 270px;
    margin-right: 10px;
}

#searchReddit {
    width: 700px;
    margin-right: 10px;
}

#leftIcons {
    border-right: 1px solid black;
    padding-right: 5px;
    margin: 0px !important;
}

#rightIcons {
    padding-left: 5px;
    margin: 0px !important;
}

#Users {
    margin-left: 10px;
}

#Users form {
    display: inline;
}

#Users button {
    margin: 5px;
}

#rememberField > input {
    width: 20px;
    float: left;
}

#rememberField > p {
    margin-top: 10px;
    margin-bottom: 0px;
    float: left;
}

#profileContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.profileCard {
    padding: 20px;
    display: block;
    border: 2px solid black;
    border-radius: 6px; 
    box-shadow: 5px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#profilePicture {

    width: 125px;
    height: 125px;
}

#profileInformation {
    padding-left: 10px;
    width: calc(100% - 125px);
    height: 75px;
}

#postsHeader {
    width: 100%;
    margin-top: 25px;
}

#postsContainer {
    margin-top: 2px;
    display: block;
    width: inherit;
}

#postCard {
    padding: 10px; 
    width: 100%;
    display: block;
    border: 2px solid black;

}

#commentContainer {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 7px;
}

.commentCard {
    margin-left: 10px;
}

#reply {
    width: 60%;
    resize: none;
}

#showPostCard {
    padding: 10px;
    display: block;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

#commentsHeader {
    text-decoration: underline;
}
